.page {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  padding-bottom: env(safe-area-inset-bottom, 0px);
}

.main {
  display: block;
  width: 100%;
  flex: 1 0 auto;
}

.contentLane {
  width: 100%;
}
